
<h1>Welcome to Eau Claire's Hair Salon</h1>
<h4>@Html.ActionLink("See all clients", "Index", "Clients")</h4> 
<h4>@Html.ActionLink("See all stylists", "Index", "Stylists")</h4> 

@{
  Layout = "_Layout";
}
